[user]
	email = gnnnnng@gmail.com
	name = Gong Deli
[core]
	editor = vim
[push]
	default = simple
[diff]
	tool = vimdiff
[merge]
	tool = gvimdiff

[sendemail]
  smtpserver = smtp.gmail.com
  smtpserverport = 587
  smtpencryption = tls
  smtpuser = gnnnnng@gmail.com
