[user]
	email = gnnnnng@gmail.com
	name = Gong Deli
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[diff]
	tool = vimdiff
[merge]
	tool = gvimdiff
[alias]
    url =! bash -c 'git config --get remote.origin.url | sed -E "s/.+:\\(.+\\)\\.git$/https:\\\\/\\\\/github\\\\.com\\\\/\\\\1/g"'
    untracked =!git ls-files -o --exclude-standard

[sendemail]
  smtpserver = smtp.gmail.com
  smtpserverport = 587
  smtpencryption = tls
  smtpuser = gnnnnng@gmail.com
